<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Вход</title>

    <th:block th:include="header :: head"></th:block>

    <style rel="stylesheet">
        body{
            background-color: #525252;
        }
        .centered-form{
            margin-top: 60px;
        }

        .centered-form .panel{
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }
    </style>
</head>
<body>
    <th:block th:include="header :: body"></th:block>

    <!--<h1>Login page</h1>-->
    <!--<p th:if="${loginError}" class="error">Wrong user or password</p>-->
    <!--<form th:action="@{/login.html}" method="post">-->
        <!--<label for="username">Username</label>:-->
        <!--<input type="text" id="username" name="username" autofocus="autofocus" /> <br />-->
        <!--<label for="password">Password</label>:-->
        <!--<input type="password" id="password" name="password" /> <br />-->
        <!--<input type="submit" value="Log in" />-->
    <!--</form>-->

    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Регистрация</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/registration" th:object="${user}" method="POST" enctype="utf8">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="e-mail" />
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Пароль" />
                            </div>

                            <input type="submit" value="Вход" class="btn btn-info btn-block" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>