<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"/>
        <title th:inline="text">[[${title}]]</title>

        <link rel="stylesheet" th:href="@{/css/main.css}" />

        <th:block th:include="header :: head"></th:block>

        <script th:inline="javascript">
            $(".buy-btn").click(addToCart);
        </script>
    </head>
    <body>
        <th:block th:include="header :: body"></th:block>

        <main role="main">

            <section class="main-section text-center">
                <div class="container">
                    <h1 class="main-section-heading">Список товаров</h1>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
                </div>
            </section>

            <div class="album text-muted">
                <div class="container">
                    <div class="row">
                        <div class="card" th:each="product : ${products}">
                            <a class="product-link" th:href="@{/product(name=${product.name})}">
                                <h3 class="card-title" th:inline="text">[[${product.name}]]</h3>
                                <!-- todo change img to card img -->
                                <img class="product-img" src="images/logo.png" alt="Card image cap" />
                                <p class="card-text" th:inline="text">
                                    <!-- todo short msg if need -->
                                </p>
                            </a>
                            <button sec:authorize="!hasAuthority('Manager')"
                                    class="buy-btn buy-btn-large btn btn-primary"
                                    th:inline="text">
                                [[${product.price}]] &#8381;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>